<!DOCTYPE html>

<head>
  <title>
    {{ page.title }} &middot; {{ site.title }}
  </title>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</head>

<body>
  {{ content }}
  <script src="/public/js/katex.js"></script>
  <script src="/public/js/mermaid.js"></script>
</body>

</html>
